#{$ModuleNicar2019Map-container} {

  /*Your chart styles here*/
  svg path {
    cursor: pointer;
    position: relative;
    z-index: 1;
    stroke: white;
    stroke-width: .5px;
    &:hover {

      z-index: 999;
    }

  }
}
